<!DOCTYPE html>
<html>
  <body>
      <%- include('thing/header.ejs') %>
      <% if (name.toLowerCase() == "greg") { %>
        <h1>oh my gawd hello greg wow WOW</h1>
      <% } else { %>
        <h1>hello <%= name %></h1>
      <% } %>
  </body>
</html>
